<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs") %> 
<body>
    <%- include("../partials/head.ejs") %>
    <div>
        <h1><%= animal.species %> </h1>
        <img src="<%= animal.img %> ">
        <a href="/animals/<%= animal.id %>/edit "><button>Edit</button></a>
        
        <a href="/animals"><button>Back to Animals</button></a> 
    </div>
</body>
</html>